@font-face {
    font-family:'digital-font';
    src: url('DS-DIGI.TTF');
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;


    position: fixed;
    top: 10%;
    left: 50%;
    translate: -50% -50%;
}
body{
    
    background-color: rgb(53, 53, 53);
    
  
}
h1{
    font-family: digital-font;
    font-size: 4rem;
    position: fixed;
    left: 50%;
    translate: -50% -50%;
}
button{
    font-family: digital-font;
    font-size: 2rem;
    padding: 1rem;
}

#body{ 
    text-align: center;
    font-family: digital-font;
    font-size: 4rem;
    width: 30rem;
    border-radius: 45px;   
    background-color: black;
    padding: 2rem;

    position: fixed;
    top: 60%;
    left: 50%;
    translate: -50% -50%;
}
#display{
    height: 80px;
    border-radius: 25px;
    background-color: #fff;
   
    padding: 0.25rem;
    
    border-style: groove;
    border-width: 0.1rem;
   
    
    
}

#buttons{
    size: 2rem;
    padding: 2rem;
    background-color: gray;
    border-radius: 25px;
}